<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mercado Liebre </title>
        <link rel="stylesheet" href="css\style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div class="main-header-top-bar">
                <img src="img\logo-mercado-liebre.svg" alt ="logo de la empresa" class="logo"/>
                <form action="" method="get" class="barra-busqueda">
                <input 
                    type="text"
                    name=""
                    id=""
                    placeholder="Buscar productos, marcas"
                    />
                <button type="submit" class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <p class="texto-top-bar"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/registro.html">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                    <li><a href="/login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        <section class="navbar">
            <img src="img/img-home-banner.jpg" alt="navbar">
        </section>
        <main>
            <h3>Basado en tu última visita</h3>
            <section class="container">
                    <article class="card">
                        <img src="img\img-cafetera-moulinex.jpg" width="300" alt="Cafetera Moulinex">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripcion">Cafetera Moulinex</h4> 
                    </article>
                    <article class="card">
                        <img src="img\img-macbook-pro-2019.jpg" width="300" alt="MacBook Pro 2019">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>
                            </div>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                    </article>
                    <article class="card">
                        <img src="img\img-samsung-galaxy-s10.jpg" width="300" alt="Samsung Galaxy S10">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </article>
                    <article class="card">
                        <img src="img\img-tv-samsung-smart.jpg" width="300" alt="SmartTv Samsung 43">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </article>
                </div>
            </section>
            <h3>Ofertas</h3>
            <section class="container">
                    <article class="card">
                        <img src="img\img-cafetera-moulinex.jpg" width="300" alt="Cafetera Moulinex">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% off</p>
                            </div>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                    </article>
                    <article class="card">
                        <img src="img\img-macbook-pro-2019.jpg" width="300" alt="MacBook Pro 2019">
                                <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$230.000</p>
                                <p class="descuentos">20% off</p>   
                            </div>
                            <h4 class="descripcion">MacBook Pro 2019</h4>
                    </article>
                    <article class="card">
                        <img src="img\img-samsung-galaxy-s10.jpg" width="300" alt="Samsung Galaxy S10">
                            <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$70.500</p>
                                <p class="descuentos">10% off</p>
                            </div>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </article>
                    <article class="card">
                        <img src="img\img-tv-samsung-smart.jpg" width="300" alt="SmartTv Samsung 43">
                            <div class="circle"><i class="fas fa-truck"></i></div>
                            <div class="detalle">
                                <p class="precios">$23.200</p>
                                <p class="descuentos">5% off</p>
                            </div>
                            <h4 class="descripcion">SmartTv Samsung 43"</h4> 
                    </article>
            </section>
        </main>
        <footer>
            <section class="footer-seccion">
                <div class="footer-articulo">
                    <article>
                        <h4 class="encabezados-footer"> <p class="color-azul"><i class="fa-solid fa-credit-card"></i></p> Pagá con tarjeta o en efectivo</h4>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin </p> 
                        <p>interés con tarjeta o efectivo en puntos de </p> 
                        <p>pago. ¡Y siempre es seguro!</p>
                    </article>
                    <article>
                        <h4 class="encabezados-footer"><p class="color-azul"><i class="fa-solid fa-gift"></i></p>Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre </p> 
                        <p>tenés envíos gratis en miles de productos. Es </p> 
                        <p>un beneficio de Mercado Puntos.</p>
                    </article>
                    <article>
                        <h4 class="encabezados-footer"><p class="color-azul"><i class="fa-solid fa-user-shield"></i></p> Seguridad, de principio a fin</h4>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p> 
                        <p> no hay nada que no puedas hacer, porque estás </p> 
                        <p>siempre protegido@.</p>
                    </article>
                </div>  
                <article class="copyright">
                    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
                </article>
            </section>
        </footer>
    </body>
</html>